.LandingPageTitle {
    margin: 0px;
    text-align: center;
}

#chatOptionBox, #chatboxTag {
    text-align: center;
    width: auto;
}

.landingPageOuterContainer{
    min-width: 650px;
    background-color: #F5EFFF;
    justify-content: center;
    align-items: center;
    height: 100vh;
}